.contenedorDeImagenes {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 480px;
    align-items: center;
}

.mercadoPago {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: solid 2px white;
    overflow: hidden;
    
}

.mercadoPago:hover {
    width: 380px;
    height: 380px;
}

.mercadoPagoImagen {
    height: 350px;
    width: 350px;
}

.mercadoPagoImagen:hover {
    width: 380px;
    height: 380px;
}

.banco {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: solid 2px white;
    overflow: hidden;
}

.banco:hover {
    width: 380px;
    height: 380px;
}

.bancoImagen {
    height: 350px;
    width: 350px;
}

.bancoImagen:hover {
    width: 380px;
    height: 380px;
}

@media only screen and (max-width: 740px) {
    .contenedorDeImagenes {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 560px;
    }
    .mercadoPago {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: solid 2px white;
        overflow: hidden;
        
    }
    
    .mercadoPago:hover {
        width: 280px;
        height: 280px;
    }
    
    .mercadoPagoImagen {
        height: 250px;
        width: 250px;
    }
    
    .mercadoPagoImagen:hover {
        width: 280px;
        height: 280px;
    }
    
    .banco {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: solid 2px white;
        overflow: hidden;
    }
    
    .banco:hover {
        width: 280px;
        height: 280px;
    }
    
    .bancoImagen {
        height: 250px;
        width: 250px;
    }
    
    .bancoImagen:hover {
        width: 280px;
        height: 280px;
    }
   
}

.contenedorBanco{
    display: flex;
    justify-content: center;
    align-items: center;

}

.datosBanco {
    color: white;
    font-size:large;
}

